/* Das Dokument soll die Schriftart Arial in 2 px Größe haben */

*{
	font-family: Arial, sans-serif;
	font-size: 12px;
}

table{
	border-spacing: 0; /* Die Tablle soll keinen Platz zwischen den Zellen haben */
    border-collapse: collapse; /* Rahmen wird durchgezogen und nicht um jede Zeile einzeln *
    padding: 1px; /*gibt den Innenabstand an */
   /* realisiert den Drop-Shadow der Tabelle, Angaben für verschiedene Browser */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

th{
	background-color: #893B4B; /*hintergrundfarbe*/
	color: white; /*schriftfarbe*/
	text-align: left; /*Ausrichtung */
	padding: 2px; /*Innenabstand*/
	
}

td{
	border-right:1px red solid;	/* Tabellenzelle hat rechten Rand in rot*/	
}

td:nth-child(n+5){
	border-right-width: 0; /* die letzte Zelle jeder Zeile hat keinen Rand */
}

tr:nth-child(even) {
   background-color: #DADADA; /* gradzahlige n.TR-elemente erhalten diesen grauen Hintergrund */ 
}
tr:nth-child(odd) {
   background-color: #CFCFCF; /* ungeradzahlige n. TR-Elemente erhalten diesen anders grauen Hintergrund */
}
tr:hover{
	background-color: #FF0000; /* bei Überfahren (hover) einer Zeile wird Zeilenhintergrund rot ... */
	color: #FFF; /*... und Schrift weiss */
}

tr:last-child{
	border-bottom: 4px #893B4B solid; /* das letzte Zeilenelement hat einen dickeren unteren Rand. */
}
